<% content_for :title, "Edit Resident" %>
<% content_for :page_title, "Edit Resident" %>
<% content_for :page_description, "Update resident information" %>

<div class="py-6">
  <%= render 'form', resident: @resident %>
</div>