<% content_for :title, "New Resident" %>
<% content_for :page_title, "New Resident" %>
<% content_for :page_description, "Add a new resident to an apartment" %>

<div class="py-6">
  <%= render 'form', resident: @resident %>
</div>